@{
    ViewData["Title"] = "Home Page";
}

<div class="home-container home-text">
    <div class="text-center">
        <h2 class="display-4">Welcome to </h2>
        <h2 class="display-4">Abc Project Management App</h2>
    </div>
</div>