@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="margin-top:25%">
    <h2 class="display-4">Welcome to </h2>
    <h2 class="display-4">Abc Project Management App</h2>
</div>
