@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}
<div class="container card shadow py-3 px-4" style="margin-top:2%">

    <header>
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">You do not have access to this resource.</p>
    </header>
</div>