@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<div class="container card shadow py-3 px-4" style="margin-top:2%">

    <header>
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">This account has been locked out, please try again later.</p>
    </header>

</div>